.project-card {
  background-color: #f5f6f8;
  border-radius: 0 24px 24px 24px;
  padding: 16px 16px;
  width: 100%;
}
.project-card + .project-card {
  margin-top: 16px;
}
.project-card h6 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}
.project-card p {
  font-size: 20px;
  margin: 32px 0;
}
.project-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 20px;
  /* margin: 16px 0; */
  margin-top: 32px;
}
.project-card span {
  font-size: 20px;
  margin-top: 8px;
  color: #d83a52;
  border: 1px solid #d83a52;
  border-radius: 16px;
  padding: 4px 32px;
}

.project-card-transparent {
  background-color: #f5f6f8;
  border-radius: 0 24px 24px 24px;
  padding: 16px 16px;
  width: 100%;
  opacity: 0.3;
}
.project-card-transparent + .project-card-transparent {
  margin-top: 16px;
}
.project-card-transparent h6 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}
.project-card-transparent p {
  font-size: 20px;
  margin: 32px 0;
}
.project-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 20px;
  /* margin: 16px 0; */
  margin-top: 32px;
}
.project-card-transparent span {
  font-size: 20px;
  margin-top: 8px;
  color: #d83a52;
  border: 1px solid #d83a52;
  border-radius: 16px;
  padding: 4px 32px;
}
