.skills-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.skills-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(195px, 20vw), 2fr));
  margin: 48px 0 8px 0;
  grid-gap: 30px;
}
.skills-content-transparent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(195px, 20vw), 2fr));
  margin: 48px 0 8px 0;
  grid-gap: 30px;
  opacity: 0.3;
}
.skill-level-label {
  color: #d83a52;
}
.blank-canvas img {
  max-height: 300px;
  width: 700px;
  margin: 0 auto;
}
