.search-spiiner-container {
  display: flex;
 margin-top: 110px;
 margin-left: 400px;
}
.search-spinner {
  margin: 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  animation: move 2s infinite linear;
}
@keyframes move {
  0% {
    transform: rotate(0deg) translateX(40px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(40px) rotate(-360deg);
  }
}
