/* body {
  font-family: sans-serif;
} */
.search-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  height: 100%;
  border-radius: 24px !important;
  background-color: #f5f5f5;
  margin-top: 2rem;
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); */
}
.search-div-transparent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  height: 100%;
  border-radius: 24px;
  background-color: #000000b0;
  margin-top: 2rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.search-wrapper {
  padding: 1rem 2rem;
  background-color: #f5f6f8;
  border-radius: 24px;
  width: 100%;
}
.icon-input-div {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}
.icon-input-div input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: black;
  padding: 0 1rem;
}
.search-div input:focus {
  /* background-color: #fff; */
}

/** Box Shadow */
.search-div:focus-within {
  /* box-shadow: 0 0 0 9999px #000000b0; */
  border-radius: 4px;
  /* box-shadow: 160px 163px 0 225px #000000b0 !important; */
}
.search-div-transparent:focus-within {
  /* box-shadow: 0 0 0 9999px #000000b0; */
  border-radius: 4px;
  box-shadow: 160px 163px 0 225px #000000b0 !important;
}


.no-suggestions {
  color: #999;
  /* padding: 0.5rem; */
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 24px;
  width: 100%;
  /* margin-top: 16px; */
}
.no-suggestions em {
  font-style: normal;
  font-weight: 600;
  padding: 0 3rem;
  color: #d83a52;
}
.suggestion-container {
  border-top-width: 0;
  list-style: none;
  margin-top: 4px;
  max-height: 400px;
  overflow-y: auto;
  padding-left: 0;
  /* width: calc(300px + 1rem); */
  border-radius: 24px !important;
  background-color: #fff;
  /* border-radius: 24px; */
  width: 100%;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
.suggestions {
  /*   border: 1px solid #999; */
  border-top-width: 0;
  list-style: none;
  margin-top: 16px;
  max-height: 250px;
  overflow-y: auto;
  padding-left: 16px;
  padding-right: 16px;
  /* width: calc(300px + 1rem); */
  border-radius: 16px;
  background-color: #fff;
  border-radius: 24px;
  width: 100%;
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}

.suggestions::-webkit-scrollbar {
  width: 10px;
}

.suggestions::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.suggestions::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #d0368a 0%, #d83a52 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.suggestions li {
  padding: 1rem 2rem 1rem 5rem;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid #e4e4e4;
}

.suggestion-active,
.suggestions li:hover {
  /*   background-color: #D83A52; */
  color: #d83a52;
  cursor: pointer;
}

.suggestions li:not(:last-of-type) {
  /*   border-bottom: 1px solid #999; */
}
.add-btn-div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 30px;
}
.add-btn-div img {
  margin-left: 16px;
}
.add-new {
  margin-left: 1rem;
  /* padding: 8px 24px; */
  border-radius: 8px;
  background-color: #fff;
  /* color: #fff; */
  outline: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.add-new:hover {
  /* background-color: #f5f5f5; */
  color: #d83a52;
  transform: scale(0.95);
}
